@charset "UTF-8";
h3{
  font-weight: bold;
  color: #81BEF7;
  width: 600px;
  border: 2px solid #81BEF7;
  text-align: center;
}
form{
  background-color: #F0E6E6;
  color: black;
  width: 600px;
}
legend{
  width: 140px;
  border:5px solid #D8CEF6; 
  text-align: center;
}
.tabla, .tabla>tr, .tabla * td{
  border:5px solid #D8CEF6; 
  border-collapse: collapse;
  empty-cells: show;
  
}
th{
  color: white;
  background-color: blue;
}
input{
  margin-top: 0.5em;
}
#izquierda{
  float:left;
  margin-left:2px;
  margin-right: 10px;
}
.tabla{
  float: center;
}
#derecho{
  margin-left:2px;
  float:right;
}
